body{
    height: 100vh;
}
header{
    height: 20%;
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: rgb(2, 2, 71);
    line-height: 180px;
}

footer{
    text-align: center;
    background-color: blue;
    margin-top: 100px;
    font-size: 20px;
    height: 170px;
    line-height: 150px;
    color: white;
}
ul{
    list-style: none;
    padding: 0;
    word-spacing: -4px;
}
h3{
    margin: 0;
}
.listSection{
    text-align: center;
}
.listItemBase{
    display: inline-block;
    width: 75%;
    margin-top: 15px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.6);
    
}

.internalList .listItemInternal {
    width: 25%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.listItemInternal h3{
    margin: 8px 0 0 20px;
    text-align: justify;
}

.progressBox{
    word-spacing: 8px;
    margin-left: 10px;
    font-size: 19px;
}

.listItemInternal b{
    color: rgb(43, 43, 255);
    font-size: 18px;
}

.listItemInternal button{
    width: 70%;
    height: 30px;
    background-color:  rgb(255, 119, 0);
    border-radius: 100px;
    border: 2px solid black;
    vertical-align: middle;
    color: white;
    cursor: pointer;
}


.boxShadow{
    box-shadow: 5px 0 25px rgba(161, 160, 160, 0.194);
}

.star{
    color: rgb(255, 119, 0);
    font-size: 30px;
    margin: 0 7px;
}

.lineHeight70{
    line-height: 70px;
}

.wordSpacing3{
    word-spacing: 3px;
}

.textAlignCenter{
    text-align: center;
}

.textAlignJustify{
    text-align: justify;
}

.title{
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    margin-left: 50px;
}

.m1{
    margin: 0 10px 0 20px;
}

.verticalAlignMiddle{
    vertical-align: middle;
}

@media (max-width: 700px) {
    li{
        width: 100% !important;
    }
    .title{
        margin-left: 0;
    }
    .listItemInternal h3{
        margin: 8px 0 0 20px;
        text-align: center;
    }
    .listItemInternal button{
        width: 60%;
    }
}