@font-face {
    font-family: yekan;
    src: url(../font/yekan-font/Yekan.woff);
    src: url(../font/yekan-font/Yekan.ttf);
}
@font-face {
    font-family: vazir;
    src: url(../font/vazir-font-v18.0.0/Vazir.woff);
    src: url(../font/vazir-font-v18.0.0/Vazir.woff2);
}


.headerWeb {
    width: 100vw;
    height: 20%;
    background: linear-gradient(to left, rgb(20, 20, 20), rgba(17, 0, 255, 0.361));
    text-align: center;
}
.headerWeb .title {
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 105px;
    width: 200px;
    height: 100px;
    display: inline-block;
    margin-top: 40px;
    background-color: crimson;
    border-radius: 20px;
    box-shadow: 0 0 20px white;
    border-top: 6px double yellow;
    border-bottom: 5px groove lightblue;
    border-left: 6px double yellow;
    border-right: 5px groove lightblue;
}
#main {
    width: 100vw;
    height: 60%;
    background-blend-mode: overlay;
    background: url(../img/fox.jpeg)  center / cover no-repeat , linear-gradient(45deg, rgba(0, 0, 255, 0.504) , rgba(255, 0, 0, 0.269), rgba(0, 0, 0, 0.439));
    padding-top: 1px;
    text-align: center;
}
body{
    height: 100vh;
    background-color: rgb(124, 124, 124);
    text-align: center;
    font-family: vazir;
    direction: rtl;
}

.test{
    width: 300px;
    height: 150px;
    background-color: beige;
    margin: 20px 0 0 20px;
    padding: 20px 0 0 20px;
}
.galleryBox{
    width: 700px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    border-radius: 10px;
}
.imageSection1, .imageSection2, .imageSection3{
    width: 30%;
    height: 100%;
    display: inline-block;
    padding: 0 5px 0 5px;
}
img {
    width: 100%;
    object-fit: cover;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}
.imageSection2 .image1{
    margin: 20px 0 20px 0;
}
.imageSection2 .image2{
    margin: 20px 0 20px 0;
}
.imageSection2 .image3{
    margin: 20px 0 20px 0;
}
.paragraphSection{
    display: inline-block;
    width: 25%;
    background-color: rgba(255, 100, 149, 0.696);
    border-radius: 10px;
    padding: 0 20px 0 20px; 
    vertical-align: top;
    text-align: justify;
}
.paragraphSection h1{
    text-shadow: 0 0 15px white;
}
a{
    color: white;
}

/*استایل های فرم ثبت نام*/

.registerSection{
    width: 20%;
    background: linear-gradient(180deg, black, burlywood);
    display: inline-block;
    border-radius: 5px;
    padding: 30px;
    color: white;
    margin-top: 150px;
}

.title h1{
    font-size: 25px;
}
.title p{
    font-size: 12px;
    color: #999;
    text-align: center;
}
.title h1 span{
    font-family: initial;
    vertical-align: super;
    color: rgb(170, 170, 170);
}

input{
    width: 95%;
    height: 30px;
    border: none;
    background-color: rgba(222, 184, 135, 0.397);
    border-radius: 3px;
    padding: 5px;
    margin-top: 20px;
    padding-inline: 9px;
    color: white;
    outline: none;
    font-family: inherit;
}
input::placeholder{
    font-size: 15px;
    color: white;
}

.registerSection .halfInput{
    width: 46.5%;
    display: inline-block;
    padding: 0 0 0 10px;
}
.registerSection .lineInput{
    width: 100%;
}

.checkboxSection{
    margin-top: 10px;
    text-align: justify;
}
.checkboxSection input{
    width: 15px;
    vertical-align: sub;
}
.checkboxSection label{
    font-size: 13px;
    vertical-align: super;
}

button{
    border: none;
    border-radius: 3px;
    background-color:rgba(0, 0, 0, 0.759);
    color: white;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-family: inherit;
    font-weight: bolder;
    margin-top: 10px;
    box-shadow: 0 -9px 10px rgba(0, 0, 0, 0.222) inset;
    cursor: pointer;
    transition: all 1s;
}
button:hover{
    color: burlywood;
    transform: scale(0.9);
}
.haveAnAccount{
    font-size: 15px;
    color: white;
}
.haveAnAccount a{
    color: rgba(0, 0, 0, 0.789);
    font-weight: bold;
}

@media (max-width: 412px) {
    .registerSection{
        width:90%;
        padding:20px 5px;
    }
    .registerSection .halfInput{
        width: 45%;
    }
    input{
        width: 90%;
    }
    button{
        width: 80%;
    }
}